[project]
name = "vita-agent-ui"
version = "0.1.0"
description = "Add your description here"
readme = "README.md"
requires-python = ">=3.12"
dependencies = [
    "python-dotenv>=1.2.1",
    "python-socks>=2.7.3",
    "websockets>=15.0.1",
]
